/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --background-color: #000;
  --text-color: #fff;
  --text-color-gray: #7e8082;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

header h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

header .menu-starter {
  display: none;
}

header .menu {
  visibility: visible;
  opacity: 1;
  display: flex;
  gap: 2rem;
}

header .menu .menu-item a {
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}

header .menu:hover .menu-item:not(:hover) a {
  color: var(--text-color-gray);
}

/*main/hero*/
main .hero {
  text-align: center;
}

main .hero p {
  opacity: 0.6;
}

main .hero figure {
  margin-bottom: 7rem;
}

main .hero figure img {
  width: 30rem;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

main .hero figcaption {
  width: 300px;
}

main .hero figcaption p {
  font-size: 2.3rem;
  font-weight: 600;
  opacity: 1;
}

main .hero figcaption p:first-child {
  margin-bottom: 1rem;
}

main .hero .down-arrow {
  margin-top: 1rem;
  width: 2rem;
  animation: unAndDown 1s infinite;
}

@keyframes unAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* main/scrolling-text-list */
main .scrolling-text-list {
  width: 30rem;
}

main .scrolling-text-list ul li {
  display: inline;
  font-size: 3rem;
  font-weight: 600;
  color: var(--background-color);
}

main .scrolling-text-list ul li#active {
  color: var(--text-color);
}
